<%= form_with model: [:admin, booking], method: :put, local: true,  html: { class:"row gy-3" } do |form| %>
<tr>
  <td><%= render booking.user %> </td>
  <td><%= render booking.booking_details %></td>
  <td>
      <%= form.select :status, Booking.statuses, { selected: Booking.statuses[booking.status] }, { class: "form-select" }  %>
  </td>
  <td>
      <%= form.submit t(:submit), class: "btn btn-outline-primary w-100" %>
  </td>
</tr>
<% end %>
