<section>
  <div class="container">
    <div class="card mb-3">
      <%= render "rooms/room_status", room: @room %>
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <%= room_image @room %>
          </div>
          <div class="col-8">
            <h5 class="card-title"><%= @room.name %></h5>
            <%= render @room.room_attributes %>
            <hr />
            <p class="card-text"><%= @room.description %></p>
            <div class="d-flex justify-content-between">
              <p class="card-text"><small class="text-muted"><%= time_ago_in_words @room.created_at %></small></p>
              <h4><%= number_to_currency @room.price %>$</h4>
            </div>
            <!--  -->
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"><%= t :check_in %></label>
              <input type="datetime" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <label for="exampleInputEmail1" class="form-label"><%= t :check_out %></label>
              <input type="datetime" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <button class="btn btn-primary"><%= t :booking %></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
