<%= form_with model: [:staff, room], method: :put, local: true,  html: { class:"row gy-3" } do |form| %>
<tr>
  <td><%= room.name %></td>
  <td><%= room.price %></td>
  <td><%= room.level %></td>
  <td><%= room.status %></td>
  <td><%= room.updated_at %></td>
  <td>
      <%= form.submit t(:submit), class: "btn btn-outline-primary w-100" %>
  </td>
</tr>
<% end %>
