<%= render "staff/bookings/filter" %>
<hr/>
<%= render "shared/paginate", object: @bookings %>
<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= t :user %></th>
      <th scope="col"><%= t :details %></th>
      <th scope="col"><%= t :status %></th>
      <th scope="col"><%= t :action %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @bookings %>
  </tbody>
</table>
