<header>
  <nav class="navbar navbar-light bg-light navbar-expand-lg mb-3">
    <div class="container">
      <%= link_to t(".home"), root_url, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= t current_user.role %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to t(".profile"), current_user, class: "dropdown-item" %></li>
              <li><%= link_to t(".settings"), "#", class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= button_to t(:logout), logout_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </li>
          <li class="nav-item"><%= link_to t(:bookings), namespace_bookings_path, class: "nav-link" %></li>
        <% else %>
          <li class="nav-item" ><%= link_to t(:login), login_path, class: "nav-link" %></li>
        <% end %>
        <li class="nav-item"><%= link_to t(:en), { locale: :en }, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to t(:vi), { locale: :vi }, class: "nav-link" %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
